// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary : #6366f1; // Indigo
$secondary : #ec4899; // Pink
$accent : #8b5cf6; // Violet

$dark : #1e293b; // Slate 800
$dark-page : #0f172a; // Slate 900

$positive : #22c55e;
$negative : #ef4444;
$info : #0ea5e9;
$warning : #f59e0b;